<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>ckm.onmicrosoft.com</ADDomain>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sharepointwebhooksweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sharepointwebhooksweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SharePointWebHooksWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SharePointWebHooksWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://ckm.onmicrosoft.com/WebApp-sharepointwebhooksweb.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>5bd0b099-ac89-4cb2-9f6a-f4b63768b5cf</ADClientAPPID>
    <ADClientPassword>BbBVIvXKe+SnGW4r34f9nsub9Hl89GWezmfGCAkJX20=</ADClientPassword>
    <ADReplyUrl>https://sharepointwebhooksweb.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>3ab8e5de-72c5-4188-b830-182a67aaed43</ADTenantId>
    <ADPostLogoutRedirectUri>https://sharepointwebhooksweb.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>